<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="anonymousibex">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!-- '>' is to enter a 'partial'-->
        <p>help? {{description}}</p>
    </div>
    {{>footer}}
</body>

</html>